#dir{
    margin-right:5% ;
}
#addc{
    display: block;
    float: left;
    z-index: 10;
    margin-right: 2px;
}
#addm{
    display: block;
    float: left;
    z-index: 10;
    margin-right: 2px;
}
#add {
    margin-left: 40.7%;
}
#addcompra{
    margin-left: 40.7%;
}
.area{
    width: 40px;
}

.linhaEscondida{
  display: none;
}

#tooltip{
    position: absolute;
    display: none;
    border: 1px solid #000080;
    padding: 2px;
    background-color: rgba(3,88,106,0.8);
    color: white;
    opacity: 1
}

.valorErrado{
    color: red;
}

/***  switch adm */

.checkboxThree {
    width: 250px;
    height: 40px;
    background: #fff;
    margin: 20px 0px;
    border-radius: 50px;
    position: relative;
}


/**
 * Create the text for the On position
 */
.checkboxThree:before {
    content: 'Administrador';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #169F85;
    font-size: 16px;
}


/**
 * Create the label for the off position
 */
.checkboxThree:after {
    content: 'comum';
    position: absolute;
    top: 12px;
    left: 164px;
    height: 2px;
    color: #000;
    font-size: 16px;
}

/**
 * Create the pill to click
 */
.checkboxThree label {
    display: block;
    width: 115px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 9px;
    background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkboxThree input[type=checkbox]:checked + label {
    left: 130px;
    background: #169F85;
    color : white;
}

#checkboxThreeInput{
    display: none;
}

